
/* Common Styles */

body{
    /* moved inline styles */
    width:960px;
    margin-left:20px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
}
a{
    color: #CC1C0D;
}

h2{
    padding : 10px;
    color : #CC1C0D;
    background-color: #DFE3E6;
    border: 2px solid #929CA4;
    border-radius: 8px;
}
.sub_list
{
    margin-left: 30px;
}

ul:first-of-type{
    list-style-type: none;
    padding: 0;
}

.company_head{
    border: 3px solid red;
    border-radius: 50px;
    margin: 0 10px 0 10px;
    padding: 0;
}

img{
    float: left;
    padding : 10px 10px 10px 0px;
    margin-right : 10px;
}

#vconvert,#vprospect,#vretain{
    font-weight: bold;
}

div{
    display: table-cell;
    float: left;
    margin-left: 10px;
    vertical-align: top;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    width: 23.5%;
    height: 300px;
}

#retain_hr{
background:#685288;
}

#prospect_hr{
background: #CC1C0D ;
}

#convert_hr{
background: #37A4A4;
}

#enterprise_hr
{
    background: black;
}

hr{
    margin-top : 65px;
    height : 10px;
}

.pricing{
    
    text-align: center; 
    clear: both; 
}

.solutions {
    float : left;
    padding-left : 65px;
}

