
/* Common Styles */

body{
    /* moved inline styles */
    width:960px;
    margin-left:20px;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
}
a{
    color: #CC1C0D;
}

h2{
    padding : 10px;
    color : #CC1C0D;
    background-color: #DFE3E6;
    border: 2px solid #929CA4;
    border-radius: 8px;
}

ul:first-of-type{
    list-style-type: none;
    padding: 0;
}

.company_head{
    border: 3px solid red;
    border-radius: 50px;
    margin: 0 10px 0 10px;
    padding: 0;
}

img{
    float: left;
    padding : 10px 10px 10px 0;
    margin-right : 10px;
}

section{
    /* padding : 10px 0 10px 0; */
}

#vconvert,#vprospect,#vretain{
    font-weight: bold;
}

div{
    float : left;
    margin: 0 20px 0 0;
    vertical-align: super;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    width: 20%;
}

br{

}

.pricing{
    text-align: justify; 
    clear: both; 
}


