/*
Styles for part 1.
*/


body{
    /* line height, font size, bgcolor */
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
}
h3{
border-bottom: 1px solid #929CA4;
color: crimson;
}


a[href^="http://"]:visited{
    color:yellow;
}

a[href^="http://"]:hover{
     color:purple;
}
 
 a[href^="http://"]:active{
     color:green;
 }
 a[href^="http://"]:link{
     text-decoration: none;
 }

p:first-of-type::first-letter
{
    font-size: 30px;
}

.solution
{
    color: #CC1C0D;
    font-weight: bold;
}

#testimonial1,#testimonial2
{
    font-style: italic;
    margin-left : 50px;
}


/* Link the Dorknozzle text to http://www.dorknozzle.com. Then, using an attribute selector, s
elect the <a> element by its href attribute, but only if it has the “http” prefix associated with it. 
If it does, use the 4 pseudo classes to set the unvisited, visited, active, and hover states to different colors and text decorations. 
*/



 /* 
 Using a type selector, remove the bullets from the list in the management team.
Using a pseudo-class selector, select the first item in the management team list and make it blue.
Using a pseudo-class selector, select the last item in the management team list and make it red.
 */

 ul{
     list-style-type: none;
 }

 li:first-child{
     color:blue;
 }

 li:last-child{
     color:red;
 }