// Navigation items.
body {
  font-family: $roboto-sans-serif;
  font-size: $body-font-size;
  line-height: $body-line-height;
  background: $body-background;
  margin: $body-margin; 
}
main {
  width: $main-width;
  margin: $main-margins;
  padding: $main-padding;

  @include handleViewPort(small) {
    width: 300px;
  }

  @include handleViewPort(medium) {
    width: 460px;
  }
  @include handleViewPort(large) {
    width: 768px;
  }
}

select {
  @include handleViewPort(small) {
    width: 95%;
  }
}

figure {
  background: $figure-image;
  float: $figure-float;
  display: $figure-display;
  margin: $figure-margin;

  @include size($figure-width, $figure-height);

  @include handleViewPort(small) {
    background-size: contain;
    height: 100px;
  }
  @include handleViewPort(large) {
    width: inherit;
    height: 140px;
    float: none;
    background-position: center;
  }
}
nav {
  @include size($nav-width, $nav-height); // defined a mixin for width/ht since we define it multiple times already.
  @include navbarPositioning(); // this mixin makes it easy to change the positioning of navbar.

  @include handleViewPort(small) {
    margin-bottom: 40px !important;
  }

  @include handleViewPort(large) {
    width: inherit;
    height: 50px;
    float: none;
    text-align: center;
  }

  ul {
    list-style-type: $nav-ul-list-type;
    margin: $nav-ul-margin;
    @include handleViewPort(large) {
      margin-top: 0;
    }
    li {
      display: $nav-li-display;
      font-size: $nav-li-font-size;
      margin-right: $nav-li-margin-right;

      a {
        color: $orange;
        text-decoration: $a-text-decoration;
        letter-spacing: $a-letter-spacing;
        &:hover {
          color: $white;
        }
      }

      @include handleViewPort(medium) {
        font-size: 0.8em;
        margin: 0 5px;
      }
      @include handleViewPort(large) {
        font-size: 1em;
        margin: 0 10px;
      }
    }
  }
}

// Content
header {
  width: $header-width;
  clear: $header-clear;
  text-align: $header-text-align;
  padding: $header-padding;

  img {
    max-width: $header-img-max-width;
    height: $header-img-height;

    @include handleViewPort(small) {
      margin-bottom: 80px;
    }
    @include handleViewPort(medium) {
      margin-bottom: 100px;
    }
  }

  // Since all the boxes share common properties with variable 
  // attribute I used a mixin for all three of them.

  @include headings(h1, $orange, 100, 4em, 0);
  @include headings(h2, $white, 900, 2.5em, 0, 70px);
  @include headings(h3, $dark-gray, 400, 2em, 0, 50px);

  h1 {
    &:first-child {
      @include handleViewPort(small) {
        font-size: 1.4em;
        margin-bottom: 20px;
      }
    }

    @include handleViewPort(medium) {
      font-size: 2em;
    }
    @include handleViewPort(large) {
      font-size: 3em;
    }
  }

  h2 {
    @include handleViewPort(small) {
      font-size: 1.4em;
    }

    @include handleViewPort(medium) {
      font-size: 1em;
    }
    @include handleViewPort(large) {
      font-size: 1.5em;
    }
  }

  h3 {
    @include handleViewPort(small) {
      color: #fff;
      font-size: 1em;
    }
    @include handleViewPort(medium) {
      font-size: 1.5em;
    }
  }
}

#headline {
  @include size(100%, 130px);
  background: $dark-orange;
  text-align: $header-text-align;
  margin: $headline-margins;
  h1 {
    color: $white;
    font-size: $headline-font-size;
    font-weight: $headline-font-wt;
    padding-top: $headline-padding-top;

    @include handleViewPort(small) {
      font-size: 1.5em;
      padding-top: 30px;
    }

    @include handleViewPort(medium) {
      font-size: 2em;
      padding-top: 50px;
    }
  }
}

article img {
  @include clearScreen(small); // disappear if screen gets too small.
}
#content {
  width: $content-width;
  margin: $content-margins;

  @include handleViewPort(large) {
    width: inherit;
  }

  h3 {
    color: $dark-gray;
    font-size: $content-h3-font-size;
    font-weight: $content-h3-font-wt;
    @include handleViewPort(small) {
      font-size: 1.6em;
    }
  }

  #products {
    width: $product-width;
    float: $product-float;
    // since this media query occurs for multiple items
    // I defined a mixin for it.
    @include fitContent(medium);

    img {
      float: $img-float;
      margin-right: $content-img-margin-right;
    }
    article {
      margin-bottom: $content-article-margin-bottom;
    }
    h4 {
      line-height: $content-h4-line-ht;
    }

    @include handleViewPort(large) {
      width: 46%;
      margin: 0 2%;
    }
  }

  #testimonials {
    
    @include fitContent();
    @include handleViewPort(large) {
      width: 46%;
      margin: 0 2%;
    }

    width: $testimonial-width;
    float: $testimonial-float;
  }
}

.greybar {
  @include size(100%, 90px);
  @include clearScreen();
  background: $ivory;
  clear: both;
  padding-top: $greybar-pad-top;
}

footer {
  @include size(100%, 120px);
  background: $dim-gray;
  text-align: center;
  color: $white;
  padding-top: $footer-pad-top;
  @include handleViewPort(small) {
    text-align: center;
  }
  p,
  img {
    @include handleViewPort(small) {
      float: none;
      margin: 0;
    }
  }
}

.social-media {
  margin: $social-media-margin;
  width: $social-media-width;

  // Adding additional social media icons becomes easy simply define
  // additional div blocks and modify the spacing inside variables files.
  @include social-media-blocks(
    "div.one",
    "div.two",
    "div.three",
    "div.four"
  );

  div {
    float: $social-div-float;
    margin-right: $social-div-margin-right;
  }

  a {
    display: $social-a-display;
    @include size(36px, 36px);
    text-indent: $social-a-text-indent;
  }
}
