@import "variables";

@mixin social-media-blocks($spacing, $blocks...) {
  @for $i from 0 to length($blocks) {
    #{nth($blocks,$i + 1)} {
      background: $social_media_img $spacing * $i 0; // math operation
    }
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin headings($property, $styles...) {
  #{$property} {
    color: nth($styles, 1);
    font-weight: nth($styles, 2);
    font-size: nth($styles, 3);
    line-height: nth($styles, 4);

    @if length($styles) > 4 {
      margin-bottom: nth($styles, 5);
    }
  }
}

@mixin handleViewPort($screen : $medium-screen)
{
    @if $screen == small {
        @media only screen and (max-width:$small-screen) {
            @content;
        }
    }
    @else if $screen == medium {
        @media only screen and (min-width: $small-screen +1) and (max-width: $large-screen -1) {
            @content;
        }
    }
    @else if $screen == large { 
        @media only screen and (max-width: $large-screen){
            @content;
        }
    }
}

@mixin clearScreen()
{
    @include handleViewPort(small) {
    display : none;
    } 
}

@mixin adjustItemsForMidScreen {
  @include handleViewPort(medium) {
    width: 96%;
    margin: 0 2%;
    float: none;
  }
}

@mixin adjustContentForMidScreen{
  @include handleViewPort(medium) {
    width: 96%;
    margin: 0 2%;
    float: none;
  }
}