@import "variables";

// Takes all the div blocks it needs and fills it with the image and spacing that we specify.
@mixin social-media-blocks($blocks...) {
  @for $i from 0 to length($blocks) {
    #{nth($blocks,$i + 1)} {
      background: $social_media_img ($social-div-spacing * $i) 0; // math operation for dynamic spacing between every element.
    }
  }
}

// pick default values from variables.scss
@mixin navbarPositioning($float : $nav-float,$text-align : $nav-text-align){
  float: $nav-float;
  text-align: $nav-text-align;
}

// By default, both are set to auto if one is not defined.
@mixin size($width : auto, $height : auto) {
  width: $width;
  height: $height;
}

@mixin headings($property, $styles...) {
  #{$property} {
    color: nth($styles, 1);
    font-weight: nth($styles, 2);
    font-size: nth($styles, 3);
    line-height: nth($styles, 4);

    @if length($styles) > 4 {
      margin-bottom: nth($styles, 5);
    }
  }
}
