
// fonts

$body_font : "Roboto", sans-serif;
$body_background : url('../images/bg.gif') #FFF repeat-x;
$body_font_size : 1em ;
$body_line_height : 2em ;

$main_width : 940px; 
$main_margins : 0 auto;
$main_padding : 0 10px;

$nav_height : 190px;
$nav_width : 540px;
$figure_width : 400px;

// colors


// image URLS




