
// fonts and text props
$body-font : "Roboto", sans-serif;
$body-font-size : 1em ;
$body-line-height : 2em ;
$nav-text-align : right;
$li-font-size : 0.8em;
$a-text-decoration : none;
$a-letter-spacing : -0.01em;
$header-text-align : center;
$header-h1-font-weight: 100;
$header-h1-line-height: 0;
$header-h1-font-size: 4em;



// margins and padding
$body-margin : 0;
$figure-margin : 0;
$ul-margin:95px 0 0 0;
$li-margin-right : 10px;
$header-padding: 40px 0 0 0;

// width, height
$main-width : 940px; 
$main-margins : 0 auto;
$nav-height : 190px;
$nav-width : 540px;
$figure-width : 400px;
$figure-height : 190px;
$main-padding : 0 10px;
$header-width : inherit;
$header-img-max-width : 100%;
$header-img-height : auto;



//float
$nav-float : left;
$figure-float : left;


// display-style
$figure-display : block;
$li-display : inline;


// images
$body-background : url('../images/bg.gif') #FFF repeat-x;
$figure-image :url("../images/logo.png") no-repeat 0 50px;


// extras
$ul-list-type: none;
$header_clear: both;

// colors
$background-color: red;
$a-color : #e65c43;
$a-hover-color : #fff;
$header-h1-color:#e65c43;
$header-h2-color:#fff;
$header-h3-color:#666;
$headline-bg-color :#f25c43;
$headline-h1-color: #fff; 
$content-h3-color: #666;
$greybar-background-color: #f5f6f6;
$foooter-background-color: #30353d;
$footer-color: #fff;







