@import "variables";
@import "mixins";
@import "./modules/mediaqueries";

// Create a Sass nested rule for the navigation menu and child elements.
body {
  font-family: $roboto-sans-serif;
  font-size: $body-font-size;
  line-height: $body-line-height;
  background: $body-background;
  margin: $body-margin;
}
main {
  width: $main-width;
  margin: $main-margins;
  padding: $main-padding;
}

figure {
  @include size($figure-width, $figure-height);
  background: $figure-image;
  float: $figure-float;
  display: $figure-display;
  margin: $figure-margin;
}
nav {
  width: $nav-width;
  height: $nav-height;
  float: $nav-float;
  text-align: $nav-text-align;

  ul {
    list-style-type: $nav-ul-list-type;
    margin: $nav-ul-margin;

    li {
      display: $nav-li-display;
      font-size: $nav-li-font-size;
      margin-right: $nav-li-margin-right;

      a {
        color: $orange;
        text-decoration: $a-text-decoration;
        letter-spacing: $a-letter-spacing;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
header {
  width: $header-width;
  clear: $header-clear;
  text-align: $header-text-align;
  padding: $header-padding;

  img {
    max-width: $header-img-max-width;
    height: $header-img-height;
  }

  @include headings(h1, $orange, 100, 4em, 0);
  @include headings(h2, $white, 900, 2.5em, 0, 70px);
  @include headings(h3, $dark-gray, 400, 2em, 0, 50px);
}

#headline {
  @include size(100%, 130px);
  background: $dark-orange;
  text-align: $header-text-align;
  margin: $headline-margins;
  h1 {
    color: $white;
    font-size: $headline-font-size;
    font-weight: $headline-font-wt;
    padding-top: $headline-padding-top;
  }
}

#content {
  width: $content-width;
  margin: $content-margins;

  h3 {
    color: $dark-gray;
    font-size: $content-h3-font-size;
    font-weight: $content-h3-font-wt;
  }

  #products {
    width: $product-width;
    float: $product-float;

    img {
      float: $img-float;
      margin-right: $content-img-margin-right;
    }
    article {
      margin-bottom:$content-article-margin-bottom;
    }
    h4 {
      line-height: $content-h4-line-ht;
    }
  }

  #testimonials {
    width: $testimonial-width;
    float: $testimonial-float;
  }
}

.greybar {
  @include size(100%, 90px);
  background: $ivory;
  clear: both;
  padding-top: $greybar-pad-top;
}

footer {
  @include size(100%, 120px);
  background: $dim-gray;
  text-align: center;
  color: $white;
  padding-top: $footer-pad-top;
}

.social-media {
  margin: $social-media-margin;
  width: $social-media-width;
  @include social-media-blocks(
    -38px,
    "div.one",
    "div.two",
    "div.three",
    "div.four"
  );

  div {
    float: $social-div-float;
    margin-right: $social-div-margin-right;
  }

  a {
    display: $social-a-display;
    @include size(36px, 36px);
    text-indent: $social-a-text-indent;
  }
}
