main > * {
  background: silver;
}

main {
  display: grid;
  width: 960px;
  height: 900px;
  grid: 80px repeat(3, 1fr) 60px / repeat(12, 1fr);
  gap: 25px;
  margin: 20px auto 0 auto;
}

header {
  grid-area: 1 / 1 / 2 / span 3;
}

nav {
  display: grid;
  grid-area: 1 / 7 / 2 / 13;
  align-self: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(4, auto);
  height: 50px;
}

.product_image {
  grid-area: 2 / 1 / 4 / span 12;
}

.product1 {
  grid-area: 4 / 1 / 5 / span 6;
}

.product2 {
  grid-area: 4 / 7 / 5 / span 6;
}

footer {
  grid-area: 5 / 1 / 6 / 13;
  text-align: center;
  padding-top: 10px;
}
