main > * {
  background: silver;
}

main {
  display: grid;
  width: 960px;
  height: 900px;
  margin: 20px auto 0 auto;
  grid: 90px repeat(9, 1fr) 50px / repeat(12, 1fr);
  gap: 25px;
}

header {
  grid-area: 1 / 1 / 2 / 4;
}

nav {
  display: grid;
  grid-area: 1 / 7 / 2 / 13;
  align-self: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(4, auto);
  height: 50px;
}

footer {
  grid-area: 14 / 1 / 15 / 13;
  text-align: center;
  padding: 15px;
}

.banner {
  grid-area: 2 / 1 / 7 / 13;
}

.banner > * {
  padding: 20px;
}

.title {
  display: grid;
  height: 60px;
  grid-row: 7/8;
}
.title:first-of-type {
  grid-column: 1/4;
}
.title:nth-of-type(2) {
  grid-column: 7/10;
}

.posts {
  /* container for posts */
  background: white;
  display: grid;
  grid-area: 8/1 / 14/7;
  grid-template-columns: auto;
  gap: 15px;
}
.products {
  /* container for products */
  background: white;
  display: grid;
  grid-area: 8/7 / 14/13;
  grid-template: repeat(2, auto) / repeat(2, auto);
  gap: 15px;
}

.product {
  background: silver;
  size: auto;
}
.blog_posts {
  background: silver;
  size: auto;
}
