main > * {
  background: silver;
}

main {
  display: grid;
  width: 960px;
  height: 900px;
  margin: 20px auto 0 auto;
  grid: 80px repeat(6, 1fr) 60px / repeat(12, 1fr);
  gap: 25px;
}

header {
  grid-area: 1 / 1 / 2 / span 3;
}

nav {
  display: grid;
  grid-area: 1 / 7 / 2 / 13;
  align-self: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(4, auto);
  height: 50px;
}

footer {
  grid-area: 8 / 1 / 9 / 13;
  text-align: center;
  padding-top: 15px;
}

.banner {
  grid-area: 2 / 1 / 5 / 13; 
  /* row: 2 to 5, col: 1 to 13 */
  padding : 40px;
}

.title{
display: grid;
grid-template-columns: repeat(2,auto);
/* grid-area: 5/x 6/x; */
grid-row: 5/6;
justify-content: space-around;
gap:15px;
}


.posts{
  /* container for posts */
  display : grid;
  grid-area:  6/1 / 8/7;
  grid-template-columns: auto;
  gap: 15px;
}

.products{
  /* container for products */
  display : grid;
  grid-area:  6/7 / 8/13;
  grid-template-columns: auto;
  gap: 15px;
}